@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap');

$primary-color: #457b9d;
$secondary-color: #a8dadc;
$accent: #f1faee;
$primary-font: 'Fredoka One', cursive;
$second-font: 'Mali', cursive;
